// colors
@color-white: #fff;
@color-dark-blue: #00063B;
@color-light-blue: #1972F9;
@color-blue-1: #005CE5;
@color-blue-2: #0A2757;
@color-blue-3: #445C85;
@color-blue-4: #6780A9;
@color-blue-5: #183462;
@color-blue-6: #003DBF;

// fonts
@font-GothamRndSSm-Bold: "GothamRndSSm-Bold";
@font-GothamRndSSm-Book: "GothamRndSSm-Book";
@font-GothamRndSSm-Medium: "GothamRndSSm-Medium";

@font-HelveticaNeueLTStd-Bd: "HelveticaNeueLTStd-Bd";
@font-HelveticaNeueLTStd-Lt: "HelveticaNeueLTStd-Lt";
@font-HelveticaNeueLTStd-Md: "HelveticaNeueLTStd-Md";
@font-HelveticaNeueLTStd-Roman: "HelveticaNeueLTStd-Roman";

@font-Gilroy-Medium: "Gilroy-Medium";